.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .logo {
    width: 900px;
    align-self: center;
  }

  .companyInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}