.container {
  display: flex;
  gap: 10px;

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    overflow-y: auto;
    height: 600px;

    .item {
      border: 1px solid black;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}