.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .util {
    display: flex;
    justify-content: space-between;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}